<a href="https://colab.research.google.com/github/nncohens/DATA-690-WANG/blob/master/Pandas_webscraping%2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [16]:
DATA_URL = ("https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignment_fall2020/census_cost.csv")
df = pd.read_csv(DATA_URL,skiprows=2) #we skipped 2 lines because the first was blank
df.head (10)

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         1790           3929214        44377                   0.0113
1         1800           5308483        66109                   0.0124
2         1810           7239881       178445                   0.0246
3         1820           9633822       208526                   0.0216
4         1830          12866020       378545                   0.0294
5         1840          17069458       833371                   0.0488
6         1850          23191876      1423351                   0.0614
7         1860          31443321      1969377                   0.0626
8         1870          38558371      3421198                   0.0887
9         1880          50155783      5790678                   0.1154

In [17]:
df.tail()

    Census Year  Total Population  Census Cost  Average Cost Per Person
18         1970         203302031    247653000                     1.22
19         1980         226542199   1078488000                     4.76
20         1990         248718301   2492830000                    10.02
21         2000         281421906   4500000000                    15.99
22         2010         308745538  13000000000                    42.11

In [19]:
df.sample(5)

    Census Year  Total Population  Census Cost  Average Cost Per Person
13         1920         105710620     25117000                   0.2376
11         1900          76303387     11854000                   0.1554
7          1860          31443321      1969377                   0.0626
17         1960         179323175    127934000                   0.7134
8          1870          38558371      3421198                   0.0887

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 864.0 bytes

In [21]:
df.columns

Index(['Census Year', 'Total Population', 'Census Cost',
       'Average Cost Per Person'],
      dtype='object')

In [25]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                 3.368739
std        67.8233      9.622629e+07  2.830037e+09                 9.278241
min      1790.0000      3.929214e+06  4.437700e+04                 0.011300
25%      1845.0000      2.013067e+07  1.128361e+06                 0.055100
50%      1900.0000      7.630339e+07  1.185400e+07                 0.170700
75%      1955.0000      1.653245e+08  1.096980e+08                 0.658900
max      2010.0000      3.087455e+08  1.300000e+10                42.110000

In [12]:
df.shape

(24, 1)

In [26]:
df["Total Population"].head()

0     3929214
1     5308483
2     7239881
3     9633822
4    12866020
Name: Total Population, dtype: int64

In [27]:
df[["Census Year", "Total Population"]].describe()

       Census Year  Total Population
count      23.0000      2.300000e+01
mean     1900.0000      1.039211e+08
std        67.8233      9.622629e+07
min      1790.0000      3.929214e+06
25%      1845.0000      2.013067e+07
50%      1900.0000      7.630339e+07
75%      1955.0000      1.653245e+08
max      2010.0000      3.087455e+08

In [29]:
import pandas as pd

In [31]:

WEB_URL = "https://www.genealogybranches.com/censuscosts.html"
df_list = pd.read_html(WEB_URL)
len(df_list)

2

In [32]:
df_list[0].head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [33]:
df_list[0].head(1)

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person

In [34]:
df= df_list[0]
df.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [35]:
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [36]:
df.iloc[0]

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [37]:
header = df.iloc[0]
header

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [38]:
df = df.iloc[1:]
df.head()

      0         1         2           3
1  1790   3929214   $44,377  1.13 cents
2  1800   5308483   $66,109  1.24 cents
3  1810   7239881  $178,445  2.46 cents
4  1820   9633822  $208,526  2.16 cents
5  1830  12866020  $378,545  2.94 cents

In [39]:

type(header)

pandas.core.series.Series

In [40]:
header_list = list(header)
header_list

['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person']

In [43]:
df.columns = header_list
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents