In [1]:
print ("Hello World")

Hello World

In [3]:
%run hello_world.py

ERROR:root:File `'hello_world.py'` not found.

In [4]:
import numpy as np

In [8]:
data = {i : np.random.randn() for i in range(7)}

In [10]:
In [7]: data

{0: 0.4734770844294632,
 1: -0.7848488949279743,
 2: -0.7731531315682865,
 3: 0.40019862921480226,
 4: 1.4069543229373458,
 5: -1.5135215087641618,
 6: 0.826651047375698}

In [12]:
from numpy.random import randn
data = {i : randn() for i in range(7)}
print(data)

{0: 1.310673590479894, 1: -1.1307076950091568, 2: -0.8214606908809048, 3: 0.9648773689792528, 4: -1.4768831498199335, 5: 1.3533865004303844, 6: 0.5569721090432742}

In [14]:
an_apple = 27
an_example = 42
an_apple and an_example any

SyntaxError: invalid syntax (<ipython-input-14-8ff580cd4c3c>, line 3)

In [17]:
b = [1,2,3]
b.append 
b.count 
b.insert 
b.reverse 
b.clear 
b.extend 
b.pop 
b.sort 
b.copy 
b.index 
b.remove

In [18]:
import datetime

In [19]:
datetime.date

datetime.date

SyntaxError: invalid syntax (<ipython-input-23-fd3473e66c15>, line 1)

In [25]:
datasets/movielens/
datasets/movielens/movies.dat
datasets/movielens/README
datasets/movielens/ratings.dat
datasets/movielens/users.dat

SyntaxError: invalid syntax (<ipython-input-25-fd3473e66c15>, line 1)

In [26]:
path = 'datasets/movielens/

SyntaxError: EOL while scanning string literal (<ipython-input-26-15f78fee1602>, line 1)

In [32]:
b = [1,2,3]

In [33]:
b?

In [29]:
print?

In [31]:
b?

In [35]:
#def add_numbers(a,b):
    return a+b

In [36]:
add_numbers?
Signature: add_numbers(a,b)
Docstring:
Add two numbers together

SyntaxError: invalid syntax (<ipython-input-36-1ab40ed2e826>, line 3)

In [42]:
np.*load*? #Something here is incorrect. I am not sure what it is
np._loader_
np.load
np.loads

AttributeError: module 'numpy' has no attribute '_loader_'

In [40]:
def f(x,y,z):  
    return (x+y) /z
a = 5
b = 6
c = 7.5

result = f(a,b,c)

In [41]:
%run ipython_script_test.py

ERROR:root:File `'ipython_script_test.py'` not found.

In [44]:
a = np.random.randn(100,100)
%timeit np.dot(a,a)
1000 loops, best of 3: 20.9

SyntaxError: invalid syntax (<ipython-input-44-e9eccd76fd7c>, line 3)

In [45]:
%matploblib inline

UsageError: Line magic function `%matploblib` not found.

In [46]:
import matplotlib.pyplot as plt
plt.plot(np.random.randn(50).cumsum())

In [47]:
def append_element(some_list, element):
    some_list.append(element)

append_

NameError: name 'append_' is not defined

In [48]:
def append_element(some_list, element):
    some_list.append(element

SyntaxError: unexpected EOF while parsing (<ipython-input-48-33576f4b97b9>, line 2)

In [49]:
def append_element(some_list, element):
    some_list.append(element)

In [50]:
data = [1,2,3]
append_element(data,4)

In [51]:
data

[1, 2, 3, 4]

In [52]:
a = 5
type(a)

int

In [53]:
a = "foo"
type(a)

str

In [54]:
a = 4.5
b=2
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [55]:
a/b

2.25

In [56]:
a = 5
isinstance(a, int)

True

In [57]:
a = 5;b=4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [58]:
a = "foo"
getattr(a, 'split')

In [59]:
5-7

-2

In [60]:
12+21.5

33.5

In [61]:
5<= 2

False

In [62]:
a = [1,2,3]
b=a
c=list(a)
a is b

True

In [63]:
a is not c

True

In [64]:
a = None
a is None

True

In [68]:
a_list = ['foo', 2, [4,5]]
a_list[2] = (3,4) #will replace anything after 2 #mutable- can be modified
a_list

['foo', 2, (3, 4)]

In [69]:
ival = 17239871
ival **6

26254519291092456596965462913230729701102721

In [70]:
fval = 7.243
fval2 = 6.78e-5

In [71]:
3/2

1.5

In [72]:
#//  drops the fraction (rounds down)
3//2

1

In [76]:
a = "one way of writing a string"
b='another way of writing a string'
c= """
This is a longer string that 
spans multiple lines
"""

In [77]:
c.count('\n') #counts the lines of text

3

In [79]:
a = 5.6
s =str(a) #indicating s is a string
print(s)

5.6

In [80]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [81]:
s[:3] #first characters 0,1,2

'pyt'

In [82]:
s = '12\\34'
print(s)

12\34

In [83]:
s = r'this\has\no\special\characters' # r stands for raw
s

'this\\has\\no\\special\\characters'

In [85]:
#concatenating strings
a = 'this is the first half '
b = 'and this is the second half'
a+b

'this is the first half and this is the second half'

In [93]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [94]:
template.format(4.5560, 'Argentine Pesos',1)

'4.56 Argentine Pesos are worth US$1'

In [ ]:
# {0:.2f} format the 1st argument as floating point with 2 decimals 0-1st pos
#{1:s} format as string are worth US$                 1-2nd pos
#{2:d} format as an exact integer                     2-3rd pos

In [95]:
from datetime import datetime, date, time #dont understand
dt =datetime(2011, 10,29,20,30,21)
dt.day

29

In [96]:
dt.minute

30

In [97]:
dt.date() #not clear

datetime.date(2011, 10, 29)

In [101]:
if x<0:
    print("It's negative")
elif x == 0:
    print ('Equal to zero')
elif 0<x<5:
    print('Postive but smaller than 5')
else:
    print ('Positive and larger than or equal to 5')

NameError: name 'x' is not defined

In [102]:
a = 5;b =7
c=8;d =4
if a<b or c>d:
    print('Made it')

Made it

In [104]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
 if value == 5:
     break
 total_until_5 += value

In [112]:
 :  for i in range(4):
 :      for j in range(4):
 :         if j > i:
 :             break
 :       print((i, j))
(0,0)
(1,0)
(1,1)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)
(3,3)

SyntaxError: invalid syntax (<ipython-input-112-7cd6670c2ecd>, line 1)

In [113]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2