<a href="https://colab.research.google.com/github/nncohens/DATA-690-WANG/blob/master/Practice_For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
fruits = ["watermelon", "strawberry", "cherry"]
for x in fruits:
  print("Your fruits are", x)

Your fruits are watermelon
Your fruits are strawberry
Your fruits are cherry

In [7]:
#break statement
fruits = ["watermelon","banana", "strawberry", "cherry"]
for x in fruits:
  print(x)
  if x=="strawberry":
    break

watermelon
banana
strawberry

In [9]:
#break statement
fruits = ["watermelon","banana", "strawberry", "cherry"]
for x in fruits:
  if x=="strawberry":
    break
  print(x)

watermelon
banana

In [10]:
#continue
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [11]:
#range
for x in range(6):
  print(x)

0
1
2
3
4
5

In [13]:
for x in range(4):
  print(x)

0
1
2
3

In [14]:
for x in range(2,6):
  print(x)

2
3
4
5

In [15]:
for x in range(2, 30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [16]:
for x in range(6):
  print(x)
else:
  print("Finished")

0
1
2
3
4
5
Finished

In [18]:
#A nested loop is a loop inside a loop.

#The "inner loop" will be executed one time for each iteration of the "outer loop":
adj=["red","big","tasty"]
fruits = ["cherry","berry","apple"]

for x in adj:
  for y in fruits:
    print(x,y)

red cherry
red berry
red apple
big cherry
big berry
big apple
tasty cherry
tasty berry
tasty apple

In [21]:
a = "Hello, World!"
print(len(a))

13

In [22]:
a = " Hello, World! "   #????
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [23]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [24]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [25]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [26]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [20]:
for x in [0,1,2]:   #?????
  pass

In [27]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [28]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.